

@import 'libs/bootstrap-reboot.min';

* {
    font-family: 'RF Dewi Expanded';
    margin: 0;
    padding: 0;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 100px;
    &-feedback {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0px 100px 0 15px;
    }
}
.btn {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    width: 273px;
    height: 54px;
    background: #FF0000;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gilroy';
}
.page {
    &-bg {
        overflow: hidden;
    }
    &-text {
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 5;
        &-center {
            justify-content: center;
            text-align: center;
        }
    }
    &-title {
        font-weight: bold;
        font-size: 50px;
        line-height: 60px;
        color: #0A0A0B;
    }
    &-subtitle {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #FF0000;
        font-family: 'Gilroy';
    }
}
@import 'blocks/header';
@import 'blocks/services';
@import 'blocks/case';
@import 'blocks/start';
@import 'blocks/about';
@import 'blocks/feedback';
@import 'blocks/discuss';
@import 'blocks/footer';

@import 'base/media';